doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Search Creature
  link(rel='stylesheet', href='css/bootstrap.css')
section.container
  header.mt-3
  section#main-content 
    .row
      .form-group.mr-auto.ml-auto
        .form-group
          img(src='img/logo search.png')
          label.control-label.h3.mr-auto.ml-auto Filtrer la recherche
        .form-group.mb-4.p-4(style='background-color: rgb(7, 51, 71); border: solid rgb(7, 51, 71) 1px;')
          form.form-horizontal(method='post', action='')
            .form-group.mb-3
              label.control-label Spell Name
              input#spell_name(type='text', placeholder='name' name="name")
            .form-group.mb-3
              label.control-label Description
              input#description(type='text', placeholder='explaination of spell')
            .form-group.mb-3
              label.control-label Level
              input#level(type='number', min='0', max='9', placeholder='0...9')
            .form-group.mb-3
              span Classes
              br
              input#alchemist(type='checkbox', name='alchemist')
              label.control-label(for='alchemist') Alchemist
              input#barbarian(type='checkbox', name='barbarian')
              label.control-label(for='barbarian') Barbarian
              input#bard(type='checkbox', name='bard')
              label.control-label(for='bard') Bard
              br
              input#cleric(type='checkbox', name='cleric')
              label(for='cleric') Cleric
              input#druid(type='checkbox', name='druid')
              label(for='druid') Druid
              input#fighter(type='checkbox', name='fighter')
              label(for='fighter') Fighter
            .form-group.mb-3
              span Components
              br
              input#V(type='checkbox', name='V')
              label(for='V') V
              input#S(type='checkbox', name='S')
              label(for='S') S
              input#M(type='checkbox', name='M')
              label(for='M') M
              input(id='V/M', type='checkbox', name='V/M')
              label(for='V/M') V/M
            .btn-group
              button.btn.btn-success(type='submit') Search
              button.btn.btn-secondary(type='cancel') cancel
  footer
    .text-right
      p
        img(src='img/logo uqac.png', style='width: 40px; height: 40px;')
        | design by team uqac
        | Alex, Thibault, Leo and Ikram
script(src='js/jquery-3.4.1.min.js')
script(src='js/bootstrap.js')
